form {
    a{
    margin-top: 20px;
    border-style: double;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    text-align: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    }
}