.error {
    display: flex;
    border: 3px solid black;
    background-color: rgb(136, 18, 42);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-decoration: underline;
    font-size: 200px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

.main__error {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}