.fotoProdu {
    display: flex;
    margin: 10px;
    background-repeat: no-repeat;
    height: 200px;
    background-image: #E2E8E5;
    border-radius: 10px;
    background-position: center;
    transition: 0.5s;
    flex-direction: column;
    justify-content: flex-end;

    .fotoDescripcion {
        color: black;
        padding: 0 10px;
        font-size: 13px;
        font-family: cursive;
        background-color: rgba(255, 255, 255, 0.26);
        text-align: center;
        font-weight: 10px;
    }
}


.fotoProdu {
    display: flex;
    flex-direction: column;
    background-size: contain;

    &:hover {
        transform: scale(1.15);
    }
}

#imagen1 {

    background-image: url("../imagenes/producto1.jpeg");
}

#imagen2 {

    background-image: url("../imagenes/producto2.jpeg");

}

#imagen3 {

    background-image: url("../imagenes/producto\ 3.jpeg");

}




.tituloContenedor {
    background-image: url("../imagenes/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0;
}

.titulo {
    color: whitesmoke;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 15px;
}